.row{
  padding-bottom:4px;
}
.headline{
  font-family: "Bree Serif", serif;
  border: 2px solid rgb(59, 4, 187);
  padding:5px;
  box-shadow: 1px 1px 1px 1px #888888;
}
.heading{
  color:#ff7433;
}
.btn{
  color:#ff7433;
  border: 2px solid #ff7433;
  background-color: #fff;
  font-size: 15px;
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;

}
.paginatn{
  padding-top:10px;
  text-align: center;
}